<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Onlinejob_portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.Servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobServlet</display-name>
    <servlet-name>UpdateJobServlet</servlet-name>
    <servlet-class>com.Servlet.UpdateJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobServlet</servlet-name>
    <url-pattern>/UpdateJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobServlet</display-name>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>com.Servlet.DeleteJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>com.Servlet.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
</web-app>